################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CCD_LocCount/CCD_LocCount/bin/Debug
/CCD_LocCount/CCD_LocCount/obj/Debug
/CCD_LocCount/CCD_LocCountTest/obj/Debug
/CCD_LocCount/CCD_LocCountTest/bin/Debug
/CSVTabellierer/CSVTabellierer/bin/Debug
/CSVTabellierer/CSVTabellierer/obj/Debug
/CSVTabellierer/CSVTabelliererTest/bin/Debug
/CSVTabellierer/CSVTabelliererTest/obj/Debug
