################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CCD_LocCount/CCD_LocCount/bin/Debug
/CCD_LocCount/CCD_LocCount/obj/Debug
/CCD_LocCount/CCD_LocCountTest/obj/Debug
/CCD_LocCount/CCD_LocCountTest/bin/Debug
/CCD_LocCount/.vs
/CSVTabellierer/CSVTabellierer/bin/Debug
/CSVTabellierer/CSVTabellierer/obj/Debug
/CSVTabellierer/CSVTabelliererTest/bin/Debug
/CSVTabellierer/CSVTabelliererTest/obj/Debug
/CSVTabellierer/.vs

/BankOCR/BankOCRTest/obj/Debug
/BankOCR/.vs/BankOCR/v14
/BankOCR/BankOCR/obj/Debug
/BankOCR/BankOCR/bin/Debug
/TicTacToe/TicTacToe/obj/Debug
/TicTacToe/TicTacToe/bin/Debug
/TicTacToe/.vs/TicTacToe/v14
/TicTacToe/TicTacToeForms/bin/Debug
/TicTacToe/TicTacToeForms/obj/Debug
/Taschenrechner/.vs/Taschenrechner/v14
/Taschenrechner/Taschenrechner/obj/Debug
/Questionnaire/Questionnaire/bin/Debug
/Questionnaire/Questionnaire/obj/Debug
*.user
*.suo
