################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CCD_LocCount/CCD_LocCount/bin/Debug
